# Container
COMPOSE_PROJECT_NAME=di2f_dev
CONTAINER_NAME=di2f_dev_postgres

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
POSTGRES_HOST_PORT=5556

# Path to local git repository on the host (Windows: Forward-Slashes, mit Laufwerk)
# Beispiel: GIT_REPO_PATH=C:/sandbox/github/di2-framework
GIT_REPO_PATH=C:/sandbox/github/di2-framework
